*{
    margin: 0;
    padding: 0;
    font-family: "Figtree-SemiBold",Arial, Helvetica, sans-serif;
}

body {
    background-color: hsl(47, 88%, 63%);
    height: 100vh;
    width: 100vw;
}

.preview-card {
    display: flex;
    flex-direction: column;
    gap: 20px;
    top: 20%;
    right: 40%;
    position: absolute;
    text-align: center;
    background-color: white;
    height: auto;
    width: 380px;
    padding: 20px;
    border-radius: 20px;
    border: 1px solid black;
    box-shadow: 7px 7px black;
}

.logo img {
    border-radius: 15px;
    margin-bottom: 15px;
}

.logo h5 {
    background-color: hsl(47, 88%, 63%);
    margin-left: 10px;
    padding: 4px;
    font-size: 12px;
    text-align: center;
    width:85px;
    border-radius: 5px;
}


.published {
    text-align: left;
    margin-left: 10px;
}

.title-description {
    text-align: left;
}

.title-description h2 {
    padding: 10px 10px 20px 10px;
}

.title-description p {
    color: grey;
    padding-left: 10px;
}


.creator {
    display: flex;
    text-align: center;
}

.creator img {
    width: 40px;
    padding-right: 10px;
}

.creator :last-child {
    padding-top: 15px ;   
}